@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background: #F2F2F2;
}

body {
  display: flex;
  margin: 0;
  width: 1280px;
  min-height: 100%;
  margin: 0 auto;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  width: 1200px;
  margin: 0 auto;
  background: #FFFFFF;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
  margin-right: 70px;
}

.logo-link {
  position: absolute;
  display: block;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 400px;
  margin: 0;
  margin-left: 169px;
  padding: 0;
  list-style: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #000000;
  text-transform: capitalize;
}

.navigation-container-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 5px 0;
  width: 268px;
  margin-left: auto;
  align-items: center;
}

.navigation-list-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 88px;
  gap: 5px 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-link-icons {
  padding: 22px;
}

.main-container {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
  background: #FFFFFF;
}

.hero-img {
  display: block;
  margin: 0 auto;
  padding-top: 52px;
}

.adventages {
  text-align: center;
}

.adventages-container {
  min-height: 261px;
}

.text-lead {
  width: 620px;
  margin: 0 auto;
  padding-top: 69px;
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.adventages-text-desc {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

.adventages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.adventages-item-items {
  display: flex;
  flex-wrap: wrap;
  background-color: #82B3D3;
}

.advantages-item-container {
  width: 230px;
  padding: 0 85px;
  padding-top: 102px;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.adventages-item {
  width: 230px;
  min-height: 385px;
  padding: 0 85px;
  background: rgba(131, 179, 211, 0.12);
}

.adventages-item-visible {
  background: rgba(131, 179, 211, 0.2);
}

.adventages-title {
  margin: 0;
  padding-top: 112.5px;
  padding-bottom: 62px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.adventages-title-text {
  margin: 0;
  padding-bottom: 62px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.adventages-text {
  margin: 0;
}

.adventages-order {
  order: -1;
}

.services-container {
  min-height: 246px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.services-text-lead {
  width: 505px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 20px;
  line-height: 36px;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: #000000;
}

.services-text-desc {
  margin: 0;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.services-item {
  width: 230px;
  min-height: 223px;
  padding: 81px 85px;
  background: rgba(131, 179, 211, 0.12);
}

.services-item-meal {
  background: none;
}

.services-title {
  margin: 0;
  padding: 30px 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.services-text {
  margin: 0;
}

.search {
  min-height: 406px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.search-title {
  margin: 0;
  padding-top: 96px;
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.search-text {
  width: 592px;
  margin: 0 auto;
  padding-bottom: 54px;
}

.subscride-container {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.subscride-title {
  margin: 0;
  padding-top: 96px;
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscride-text {
  width: 475px;
  margin: 0 auto;
  padding-bottom: 54px;
  font-weight: 400;
}

.subscride-catalog {
  min-height: 415px;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #333333
}

.subscride-title-catalog {
  color: #000000;
}

.subscride-form {
  display: flex;
  width: 684px;
  margin: 0 auto;
}

.field {
  width: 452px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  background: #F2F2F2;
  border: none;
}

.inner-header  {
  width: 1060px;
  margin: 0 auto;
}

.inner-header-title {
  margin: 0;
  padding-top: 35px;
  padding-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
}

.breadcruds {
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  list-style: none;
}

.filter  {
  width: 1060px;
  margin: 0 auto;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-container {
  margin-right:  70px;
}

.catalog-filter-grup {
  width: 151px;
  padding: 0;
  border: none;
}

.filter-container-right {
  margin-right: 149px;
}

.catalog-filter-group {
  width: 288px;
  padding: 0;
  border: none;
}

.buttom-container {
  width: 191px;
  padding-top: 56px;
}

.catalog {
  width: 1060px;
  margin: 0 auto;
}

.catalog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 40px;
}

.catalog-filter-title {
  padding-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control-input {
  margin-bottom: 16px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.catalog-title {
  margin: 0;
  padding: 7px 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select-catalog {
  min-width: 292px;
  font-family: 'PT Sans';
  font-size: 18px;
  color: #333333;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
  padding: 12px 17px;
  border: 2px solid #000000;
  border-radius: 4px;
}

.catalog-cart-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  border-bottom: 1px solid #E6E6E6;
  list-style: none;
}

.product-cart-image {
  grid-template: 1/-1;
}

.catalog-cart-item {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
  width: 300px;
  padding: 18px;
  border: 1px solid #E6E6E6;
}

.product-cart-title {
  grid-column: 1/-1;
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-cart-image {
  display: grid;
  grid-column: 1/-1;
}

.product-cart-text {
  margin: 0;
  margin-top: auto;
  color: #333333;
}

.cart-text {
  text-align: end;
}

.product-cart-link {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 1060px;
  margin: 0;
  padding-left: 0;
  padding-top: 40px;
  padding-bottom: 60px;
  line-height: 36px;
  font-weight: 700;
  font-size: 20px;
  list-style: none;
}

.pagination-item {
  min-width: 60px;
  height: 60px;
  text-align: center;
}

.page-footer {
  min-width: 1200px;
  min-height: 120px;
  margin: 0 auto;
  background: #FFFFFF;
}

.footer-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
  padding-top: 45px;
}

.contacts {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 142px;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}

.footer-buttom {
  display: block;
  padding: 11px 12px;
}
/*Кнопки*/
.navigation-link-bottom {
  display: block;
  width: 160px;
  margin-left: 20px;
  padding: 8px 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
}

.search-link-botton {
  display: block;
  width: 376px;
  margin: 0 auto;
  padding: 8px 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
}

.subscride-buttom {
  display: block;
  padding: 8px 50px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background: #82B3D3;
  border: none;
}

.breadcruds-buttom {
  display: block;
  font-size: 16px;
  line-height: 21px;
}

.buttom-apply {
  display: block;
  width: 191px;
  margin-bottom: 32px;
  padding: 8px 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
  border-radius: 4px;
}

.buttom-throw {
  display: block;
  width: 191px;
  padding: 8px 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  background: none;
  border: none;
}

.product-cart-bottom {
  display: block;
  margin-top: auto;
  padding: 8px 0;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
  border-radius: 4px;
}

.bottom-gray {
  margin-top: auto;
  padding: 8px 0;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;
}

.pagination-bottom-gray {
  display: block;
  padding: 12px 24px;
  text-decoration: none;
  color: #000000;
  background: #F2F2F2;
}

.pagination-bottom-white {
  display: block;
  padding: 12px 24px;
  font-size: 22px;
  line-height: 26px;
  text-decoration: none;
  color: #000000;
}

.bottom-brown {
  background: #756157;
}

.pagination-bottom-blue {
  display: block;
  padding: 12px 24px;
  text-decoration: none;
  color: #FFFFFF;
  background: #82B3D3;
}

.pagination-bottom {
  padding: 12px 18px;
}

.pagination-botten-green {
  background: #7DB54F;
}

/* Изображение */
.icons-search {
  background-image: url("../images/svg/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icons-heart {
  background-image: url("../images/svg/elected.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hero {
  min-height: 485px;
  background-color: #0d0e0d;
  background-image:url("../images/svg/dcor.svg"), url("../images/jpg/background-3.jpg");
  background-size: 100% auto, 100% auto;
  background-repeat: no-repeat, no-repeat;
  background-position: 0 428px, 0 0;
}

.housing {
  padding: 40px;
  background-image: url("../images/svg/house.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.meal {
  padding: 40px;
  background-image: url("../images/svg/burger.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.souvenirs {
  padding: 40px;
  background-image: url("../images/svg/gift.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.subscride {
  min-height: 415px;
  background-image: url("../images/jpg/background-1.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #466887;
}

.main-filter-container {
  min-height: 412px;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  background-color:  #466887;
  background-image: url("../images/jpg/background-2..png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.container-star {
  width: 18px;
  background-image: url("../images/svg/star.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

.breadcruds-buttom-home {
  display: block;
  margin-top: 5px;
  padding: 8px;
  background-image: url("../images/svg/home.svg");
  background-repeat: no-repeat;
}

.breadcruds-buttom-arrow {
  display: block;
  margin-top: 5px;
  padding: 8px;
  background-image: url("../images/svg/arrow.svg");
  background-repeat: no-repeat;
}

.buttom-catalog-list {
  display: block;
  margin-top: 5px;
  padding: 8px;
  background-image: url("../images/svg/list.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.buttom-catalog-cards {
  display: block;
  margin-top: 5px;
  padding: 8px;
  background-image: url("../images/svg/cards.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.buttom-catalog {
  display: block;
  margin-top: 5px;
  padding: 8px;
  background-image: url("../images/svg/home-page.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}
