@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background: #E5E5E5;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 1280px;
  background: #F2F2F2;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  margin: 0 auto;
  width: 1200px;
  background: #FFFFFF;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
}

.navigation-logo {
  margin-left: 70px;
  margin-right: 44px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  max-width: 440px;
  margin: 0;
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
  list-style: none;
}

.navigation-user {
  gap: 25px;
  max-width: 130px;
  margin-left: auto;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
}

.icons-search {
  padding: 10px;
  background-image: url("../images/svg/search.svg");
  background-repeat: no-repeat;
}

.icons-heart {
  padding: 10px;
  background-image: url("../images/svg/elected.svg");
  background-repeat: no-repeat;
}

.navigation-link-botton {
  padding: 8px 34px;
  margin-right: 70px;
  margin-left: 33px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background: #FFFFFF;
}

.hero {
  min-height: 485px;
  background-color: #0d0e0d;
  background-image:url("../images/svg/dcor.svg"), url("../images/jpg/background-3.jpg");
  background-size: 100% auto, 100% auto;
  background-repeat: no-repeat, no-repeat;
  background-position: 0 428px, 0 0;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

.adventages {
  text-align: center;
}

.adventages-container {
  min-height: 261px;
}

.text-lead {
  padding-top: 69px;
  width: 620px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.adventages-text-desc {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

.adventages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.adventages-item-items {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item-container {
  padding: 0 85px;
  padding-top: 102px;
  width: 230px;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-align: center;
}

.adventages-item {
  width: 230px;
  padding: 0 85px;
  background: rgba(131, 179, 211, 0.12);
}

.adventages-item-visible {
  background: rgba(131, 179, 211, 0.2);
}

.adventages-title {
  padding-top: 112.5px;
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.adventages-title-text {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.adventages-text {
  padding-bottom: 112.5px;
  margin: 0;
}

.services-container {
  min-height: 246px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.services-text-lead {
  width: 505px;
  padding-top: 64px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.services-text-desc {
  margin: 0;
}

.services-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.services-item {
  width: 230px;
  padding: 0 85px;
}

.services-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.services-text {
  margin: 0;
}

.housing {
  background: rgba(131, 179, 211, 0.12);
  background-image: url("../images/svg/house.svg");
  background-repeat: no-repeat;
}

.meal {
  background-image: url("../images/svg/burger.svg");
  background-repeat: no-repeat;
}

.souvenirs {
  background: rgba(131, 179, 211, 0.12);
  background-image: url("../images/svg/gift.svg");
  background-repeat: no-repeat;
}

.search {
  min-height: 406px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.search-title {
  padding-top: 96px;
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.search-text {
  width: 592px;
  margin: 0 auto;
}

.search-link-botton {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background: #756157;
}

.subscride {
  min-height: 412px;
  background-image: url("../images/jpg/background-1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #0f100e;
}

.subscride-container {
  padding-top: 96px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.subscride-title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscride-text {
  width: 475px;
  margin: 0 auto;
}

.field {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  width: 452px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  background: #F2F2F2;
}

.subscride-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background: #82B3D3;
  text-transform: uppercase;
  padding: 8px 50px;
}

.contacts {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.page-filter-container  {
  width: 1060px;
  margin: 0 auto;
}

.main-filter-container {
  min-height: 403px;
  font-size: 18px;
  line-height: 23px;
  background-image: url("../images/jpg/background-2.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
  background-color: rgb(18, 19, 17);
}

.inner-header-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
}

.breadcruds {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  list-style: none;
}

.breadcruds-button-home {
  padding: 10px;
  background-image: url("../images/svg/home.svg");
  background-repeat: no-repeat;
  background-position: 5px 17px;
}

.breadcruds-button-arrow {
  padding: 10px;
  background-image: url("../images/svg/arrow.svg");
  background-repeat: no-repeat;
  background-position: 7px 18px;
}

.breadcruds-button {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-container {
  margin-right:  70px;
}

.catalog-filter-grup {
  width: 151px;
}

.filter-container-right {
  margin-right: 149px;
}

.catalog-filter-group {
  width: 288px;
}

.button-container {
  width: 191px;
}

.catalog {
  width: 1060px;
  margin: 0 auto;
}

.catalog-container {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control-input {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.button-apply {
  padding: 8px 50px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
}

.button-throw {
  padding: 8px 58px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: none;
  border: none;
}

.select-catalog {
  font-family: 'PT Sans';
  font-size: 18px;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.catalog-title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.button-catalog-list {
  padding: 10px;
  background-image: url("../images/svg/list.svg");
  background-repeat: no-repeat;
  background-position: 0 20px;
}

.button-catalog-cards {
  padding: 10px;
  background-image: url("../images/svg/cards.svg");
  background-repeat: no-repeat;
  background-position: 0 20px;
}

.button-catalog {
  padding: 10px;
  background-image: url("../images/svg/home-page.svg");
  background-repeat: no-repeat;
  background-position: 0 20px;
}

.catalog-cart-list {
  padding: 0;
  margin: 0;
  padding-top: 46.50px;
  padding-bottom: 40px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.product-container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.catalog-cart-item {
  width: 340px;
}

.product-cart-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-cart-text {
  width: 140px;
  margin: 0;
}

.product-cart-link {
  text-decoration: none;
}

.product-cart-botton {
  padding: 8px 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.bottom-gray {
  font-weight: 400;
  color: #333333;
  background: #F2F2F2;
  text-transform: uppercase;
  padding: 8px 0;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

.pagination-list {
  width: 1060px;
  margin: 0;
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
}

.pagination-item {
  padding: 0 13px;
}

.pagination-gray {
  color: #000000;
  background: #F2F2F2;
}

.pagination-white {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.bottom-brown {
  background: #756157;
}

.bottom-blue {
  background: #82B3D3;
}

.botten-green {
  background: #7DB54F;
}

.product-cart-text {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.container-star {
  padding: 10px;
  background-image: url("../images/svg/star.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscride-catalog {
  min-height: 415px;
}

.subscride-title-catalog {
  margin: 0;
  padding-top: 96px;
  color: #000000;
}

.subscride-container-catalog {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333
}

.subscride-title-catalog {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.page-footer {
  width: 1200px;
  background: #FFFFFF;
  margin: 0 auto;
}

.footer-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  margin: 0;
  justify-content: space-between;
  width: 142px;
  list-style: none;
}
