@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background: #F2F2F2;
}

body {
  display: flex;
  width: 1280px;
  min-height: 100%;
  margin: 0 auto;
  flex-direction: column;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  color: #333333;
  background: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* heder */
.page-header {
  width: 1200px;
  margin: 0 auto;
  background: #FFFFFF;
}

.navigation {
  margin-left: 70px;
  margin-right: 70px;
}

.logo-link {
  position: absolute;
  display: block;
}

.page-header .navigation,
.page-header .navigation-list,
.page-header .navigation-container-user,
.page-header .navigation-list-user {
  display: flex;
  flex-wrap: wrap;
}

.page-header .navigation-list,
.page-header .navigation-list-user {
  justify-content: start;
  padding: 0;
  list-style: none;
}

.navigation-container-user {
  justify-content: end;
  gap: 5px 0;
  width: 268px;
  margin-left: auto;
  align-items: center;
}

.navigation-list {
  width: 400px;
  margin: 0;
  margin-left: 169px;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.navigation-list .navigation-decor,
.navigation-list .navigation-decor-catalog {
  position: relative;
}

.navigation-list .navigation-decor::after,
.navigation-list .navigation-decor-catalog::after {
  position: absolute;
  content: "";
  height: 2px;
  right: 16px;
  left: 16px;
  bottom: 0;
  background-color: #756257;
}

.navigation-list-user {
  gap: 5px 0;
  margin: 0;
}

.icons-search {
  display: block;
  background-image: url("../images/svg/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icons-heart {
  display: block;
  background-image: url("../images/svg/elected.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-link-icons {
  padding: 18px;
  text-decoration: none;
}


.navigation-icons::before {
  position: relative;
  content: "12";
  width: 11px;
  bottom: 14px;
  left: 8px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  z-index: 1;
}

.navigation-icons::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  right: auto;
  top: 11px;
  margin-left: -7px;
  border-radius: 100%;
  background: #7DB54F;
}

.button-navigation-link {
  display: block;
  width: 160px;
  margin-left: 20px;
  padding: 8px 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
}

.button-navigation-link:hover,
.button-navigation-link:focus {
  background:  #615048;
  outline-style: none;
}

.button-navigation-link:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

/* main */
.main-container {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
  background: #FFFFFF;
}

.hero-img {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}

.adventages {
  text-align: center;
}

.main-container .services-text-lead,
.main-container .search-title,
.main-container .subscride-title-catalog {
  margin: 0 auto;
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.text-lead {
  width: 620px;
  margin: 0 auto;
  padding-bottom: 25px;
  padding-top: 70px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.adventages-text-desc {
  margin: 0;
  padding-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.adventages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.adventages-item {
  width: 230px;
  padding: 0 85px;
  background: rgba(131, 179, 211, 0.12);
}

.adventages-item:last-child .adventages-title,
.adventages-item:first-child .adventages-title {
  color: #FFFFFF;
}

.adventages-item:last-child,
.adventages-item:first-child {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.adventages-item-visible {
  background: rgba(131, 179, 211, 0.2);
}

.main-container .adventages-title,
.main-container .adventages-title-wraper,
.main-container .services-title {
  width: 175px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.adventages-title {
  padding-top: 102px;
}

.adventages-title::after,
.adventages-title-wraper::after {
  display: block;
  content: '';
  height: 2px;
  width: 60px;
  margin: 0 auto;
  margin-top: 30px;
}

.adventages-title::after {
  background: rgba(255, 255, 255, 0.3);
}

.adventages-title-wraper::after {
  background: rgba(0, 0, 0, 0.3);
}

.adventages-title-wraper {
  padding-bottom: 30px;
  padding-top: 112.50px;
}

.adventages-list .adventages-decor,
.adventages-list .adventages-decor-tetle {
  width: 60px;
  height: 2px;
  margin: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.adventages-imegs {
  display: block;
}

.adventages-text {
  margin: 0;
  margin-top: 30px;
}

.adventages-text-wraper {
  margin: 0;
  padding-bottom: 112.50px;
}

.services-container {
  min-height: 246px;
}

.main-container .services-container,
.main-container .search  {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.services-text-lead {
  width: 505px;
  padding-top: 64px;
}

.services-text-desc {
  margin: 0;
  padding-bottom: 64px;
}

.main-container .services-list,
.main-container .catalog-list,
.main-container .breadcruds {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-list {
  text-align: center;
}

.housing::before {
  display: block;
  content: url("../images/svg/house.svg");
  padding-bottom: 25px;
  padding-top: 81px;
}

.meal::before {
  display: block;
  content: url("../images/svg/burger.svg");
  padding-bottom: 26px;
  padding-top: 82px;
}

.souvenirs::before {
  display: block;
  content: url("../images/svg/gift.svg");
  padding-bottom: 22px;
  padding-top: 79px;
}

.services-title {
  margin: 0 auto;
  padding-bottom: 30px;
}

.services-item {
  padding: 0 85px;
  background: rgba(131, 179, 211, 0.12);
}

.services-item-meal {
  background: none;
}

.services-text {
  width: 230px;
  margin: 0;
  padding-bottom: 81px;
}

.search {
  min-height: 404px;
}

.search-title {
  padding-top: 96px;
}

.search-text {
  width: 592px;
  margin: 0 auto;
  padding-bottom: 52px;
}

.search-link-button {
  display: block;
  width: 376px;
  margin: 0 auto;
  padding: 8px 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background: #756157;
  border-radius: 3px;
}

.search-link-button:hover,
.search-link-button:focus {
  background:  #615048;
  outline-style: none;
}

.search-link-button:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.subscride-container {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.subscride-title {
  margin: 0;
  padding-top: 96px;
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscride-text {
  width: 475px;
  margin: 0 auto;
  padding-bottom: 54px;
  font-weight: 400;
}

.subscride-form {
  display: flex;
  width: 684px;
  margin: 0 auto;
}

.control-input {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background: #F2F2F2;
}

.field {
  display: block;
  width: 452px;
  padding-left: 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background: #F2F2F2;
  border: none;
}

.subscride-catalog {
  min-height: 415px;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #333333
}

.button-subscride {
  display: block;
  padding: 8px 50px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #82B3D3;
  border: none;
}

.button-subscride:hover,
.button-subscride:focus {
  background: #68A2CA;
  outline-style: none;
}

.button-subscride:active  {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.inner-header  {
  width: 1060px;
  margin: 0 auto;
}

.inner-header-title {
  margin: 0;
  padding-top: 35px;
  padding-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
}

.breadcruds-imeges {
  display: block;
  margin-top: 4px;
}

.breadcruds-item::after {
  position: relative;
  left: 23px;
  bottom: 19px;
  content: url("../images/svg/arrow.svg");
}

.breadcruds-button {
  display: block;
  margin-left: 28px;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.breadcruds-imeges:hover {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcruds-imeges:focus-within {
  fill: #FFFFFF;
}

.breadcruds-imeges:active {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcruds-button:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcruds-button:focus {
  color: #FFFFFF;
}

.breadcruds-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter  {
  width: 1060px;
  margin: 0 auto;
  padding-top: 21px;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}

.filter-container-right {
  margin-right: 148px;
}

.filter-container {
  margin-right:  68px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  padding-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  padding-bottom: 16px;
}

.control:hover {
  opacity: 0.7;
}

.control:focus {
  color: #FFFFFF;
  outline-style: none;
}

.control:active {
  opacity: 0.6;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 19px;
  background-color: #FFFFFF;
  border-radius: 3px;
  border: none;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  bottom: 0;
  left: 5px;
  content: url("../images/svg/mark.svg");
}

.control-input[type="checkbox"]:focus-visible + .control-mark {
  outline: 2px solid #83B3D3;
}

.control-radio {
  position: relative;
  display: block;
  padding-left: 38px;
  padding-bottom: 16px;
}

.control-radio:hover {
  opacity: 0.7;
}

.control-radio:focus {
  color: #FFFFFF;
  outline-style: none;
}

.control-radio:active {
  opacity: 0.6;
}

.control-mark-radio {
  position: absolute;
  top: 2px;
  left: -3px;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: none;
}

.control-mark-radio:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-mark-radio:focus {
  background-color: #FFFFFF;
  outline-style: none;
}

.control-input-radio[type="radio"]:checked + .control-mark-radio::before,
.control-input-radio[type="radio"]:checked + .control-mark-radio::after {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.control-input-radio[type="radio"]:focus-visible + .control-mark-radio {
  outline: 3px solid #83B3D3;
}

.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  margin-top: 45px;
  background-color: #000000;
  border-radius: 4px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  background: #FFFFFF;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
}

.range-toggle:focus {
  background: #FFFFFF;
  border: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  background: #FFFFFF;
  border: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4)
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.catalog-filter-label {
  display: flex;
}

.catalog-filter-label-max {
  display: flex;
}

.catalog-filter-label {
  margin-right: 2px;
  font: inherit;
  border: none;
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
}

.catalog-filter-label-max {
  font: inherit;
  border: none;
  background: #F2F2F2;
  border-radius: 0 4px 4px 0;
}

.range-wrapper-inputs {
  display: flex;
}

.range-input {
  width: 94px;
  padding: 14px 10px  10px 20px;
  font: inherit;
  border: none;
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  outline-style: none;
}

.catalog-filter-label:active {
  outline-style: none;
}

.range-input-right {
  width: 90px;
  padding: 14px 10px  10px 20px;
  font: inherit;
  border: none;
  background: #F2F2F2;
  border-radius: 0 4px 4px 0;
  outline-style: none;
}

.catalog-filter-label:focus-within {
  border: none;
  outline: 3px solid #68a2ca;
}

.catalog-filter-label-max:focus-within {
  outline: 3px solid #68a2ca;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input-text{
  position: relative;
  right: 16px;
  top: 15px;
  color: #000000;
}

.range-input-text-max{
  position: relative;
  right: 16px;
  top: 15px;
  color: #000000;
}

.button-container {
  width: 191px;
  padding-top: 56px;
  margin-left: 70px;
}

.button-container .button-apply,
.button-container .button-throw {
  display: block;
  width: 191px;
  padding: 8px 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.button-apply {
  margin-bottom: 32px;
  background: #82B3D3;
  border-radius: 4px;
  border: none;
}

.button-apply:hover,
.button-apply:focus {
  background: #68A2CA;
  outline-style: none;
  border: none;
}

.button-apply:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
  border: none;
}

.button-throw {
  background: none;
  border: none;
}

.button-throw:hover {
  opacity: 0.6;
  border: none;
}

.button-throw:focus {
  border: none;
  outline-color: #83B3D3;
}

.button-throw:active {
  color: rgba(255, 255, 255, 0.3);
  border: none;
  outline-style: none;
}

.button-throw:disabled {
  color: #FFFFFF;
  opacity: 0.1;
  border: none;
  outline-style: none;
}

.catalog {
  width: 1060px;
  margin: 0 auto;
}

.catalog-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 49px;
  padding-bottom: 40px;
  justify-content: space-between;
}

.catalog-title {
  margin: 0;
  padding: 7px 0;
  margin-right: 124px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  font-family: 'PT Sans';
  text-transform: uppercase;
  color: #000000;
}

.select-catalog {
  min-width: 292px;
  padding: 12px 20px;
  padding-right: 40px;
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 21px;
  background-image: url("../images/svg/birdie.svg");
  background-position: right 20px center;
  background-repeat: no-repeat;
  color: #333333;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  appearance: none;
}

.select-catalog:hover {
  outline-color: #68A2CA;
  outline-style: none;
}

.select-catalog:focus {
  outline-color:  #3F5E72;
}

.select-catalog:active {
  outline-color: #3F5E72;
}

.select-catalog:disabled {
  color: rgba(0, 0, 0, 0.3);
  outline-color:  rgba(0, 0, 0, 0.3);
  outline-style: none;
}

.catalog-list {
  gap: 8px;
}

.catalog-list .button-catalog-list:hover,
.catalog-list .button-catalog-cards:hover,
.catalog-list .button-catalog:hover {
  border: 2px solid #000000;
}

.catalog-list .button-catalog-list:focus,
.catalog-list .button-catalog-cards:focus,
.catalog-list .button-catalog:focus {
  border: 2px solid #68A2CA;
  outline-style: none;
}

.catalog-list .button-catalog-list:active,
.catalog-list .button-catalog-cards:active,
.catalog-list .button-catalog:active {
  border: 2px solid #000000;
}

.catalog-list .button-catalog-cards,
.catalog-list .button-catalog {
  display: block;
  width: 20px;
  height: 16px;
  padding: 15px 13px;
  border: 2px solid #E5E5E5;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.catalog-list .button-catalog-list {
  display: block;
  width: 20px;
  height: 16px;
  padding: 15px 13px;
  background-image: url("../images/svg/list.svg");
  border: 2px solid #000000;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.button-catalog-cards {
  background-image: url("../images/svg/cards.svg");
}

.button-catalog {
  background-image: url("../images/svg/home-page.svg");
}

.catalog-cart-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 23px 21px;
  margin: 0;
  padding: 0;
  padding-bottom: 38px;
  border-bottom: 1px solid #E6E6E6;
  list-style: none;
}

.cart-item-wrap {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
  width: 300px;
  padding: 18px;
  border: 1px solid #E6E6E6;
}

.catalog-cart-list .product-cart-title,
.catalog-cart-list .product-cart-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.product-cart-title {
  grid-column: 1/-1;
}

.product-cart-text {
  margin: 0;
  margin-top: auto;
  color: #333333;
}

.cart-text {
  text-align: end;
}

.catalog-cart-list .button-brown,
.catalog-cart-list .button-blue,
.catalog-cart-list .button-gray,
.catalog-cart-list .button-green {
  display: block;
  padding: 8px 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
}

.button-green {
  color: #FFFFFF;
  background: #7DB54F;
}

.button-green:hover,
.button-green:focus {
  background:  #6C9E42;
  outline-style: none;
}

.button-green:active {
  background: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.button-green:disabled {
  color: #FFFFFF;
  background: #E5E5E5;
  outline-style: none;
}

.button-brown {
  color: #FFFFFF;
  background: #756157;
}

.button-blue {
  color: #FFFFFF;
  background: #82B3D3;
}

.button-brown:hover,
.button-brown:focus {
  background:  #615048;
  outline-style: none;
}

.button-brown:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-brown:disabled {
  color: #FFFFFF;
  background: #E5E5E5;
  outline-style: none;
}

.button-blue:hover,
.button-blue:focus {
  background: #68A2CA;
  outline-style: none;
}

.button-blue:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-blue:disabled {
  color: #FFFFFF;
  background: #E5E5E5;
  outline-style: none;
}

.button-gray {
  color: #333333;
  background: #F2F2F2;
}

.container-star::before {
  position: relative;
  content: url("../images/svg/star.svg");
  top: 9px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 1060px;
  margin: 0;
  padding-left: 0;
  padding-top: 41px;
  padding-bottom: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  list-style: none;
}

.pagination-item {
  min-width: 60px;
  height: 60px;
  text-align: center;
}

.pagination-button-gray {
  display: block;
  padding: 12px 24px;
  text-decoration: none;
  color: #000000;
  background: #F2F2F2;
}

.pagination-button-blue {
  display: block;
  padding: 12px 24px;
  text-decoration: none;
  color: #FFFFFF;
  background: #82B3D3;
}

.pagination-button-blue:hover,
.pagination-button-blue:focus {
  background: #68A2CA;
  outline-style: none;
}

.pagination-button-blue:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-button-white {
  display: block;
  padding: 17px 21px;
  text-decoration: none;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.pagination-button {
  padding: 12px 18px;
}

/* footer */
.page-footer {
  min-width: 1200px;
  min-height: 120px;
  margin: 0 auto;
  background: #FFFFFF;
}

.footer-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
  padding-top: 41px;
  align-items: center;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}

.footer-button {
  display: block;
  padding: 13px;
}

.footer-button:hover,
.footer-button:focus {
  outline-style: none;
}

.footer-button:hover svg,
.footer-button:focus svg {
  fill: #68A2CA;
}

.footer-button:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.contacts {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.contacts:hover,
.contacts:focus  {
  color: #756157;
  outline-style: none;
}

.contacts:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-link {
  display: block;
}

.footer-link:hover,
.footer-link:focus {
  outline-style: none;
}

.footer-link:hover svg,
.footer-link:focus svg {
  fill: #756157;
}

.footer-link:active svg {
  fill: rgba(117, 97, 87, 0.3);
}

/* Изображение */

.hero {
  min-height: 485px;
  background-color: #466887;
  background-image: url("../images/svg/dcor.svg"), url("../images/jpg/background-3.jpg");
  background-size: 100% auto, 100% auto;
  background-repeat: no-repeat, no-repeat;
  background-position: 0 428px, 0 0;
}

.subscride {
  display: block;
  min-height: 415px;
  background-image: url("../images/jpg/background-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  background-color: #466887;
}

.main-filter-container {
  display: block;
  min-height: 412px;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  background-color:  #466887;
  background-image: url("../images/jpg/background-2..png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.souvenirs {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}


.modal-container-close {
  display: none;
}

.modal-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  max-width: 577px;
  margin: auto;
  padding: 65px 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  width: 52px;
  height: 52px;
  padding: 0;
  right: 50px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-color: #F2F2F2;
  outline-style: none;
}

.modal-close-button:before {
  position: absolute;
  content: "";
  top: 25px;
  left: 18px;
  width: 17px;
  height: 2px;
  background-color: #000000;
  transform: rotate(45deg);
}

.modal-close-button:after {
  position: absolute;
  content: "";
  top: 25px;
  left: 18px;
  width: 17px;
  height: 2px;
  background-color: #000000;
  transform: rotate(-45deg);
}

.modal-close-button:hover {
  outline-style: none;
  background: #E6E6E6;
}

.modal-close-button:focus {
  background: #E6E6E6;
  outline: #83B3D3;
}

.modal-close-button:active:before {
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-close-button:active::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-title {
  margin: 0;
  padding: 0;
  margin-bottom: 64px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.field-group-date {
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
}

.check-in-date-text {
  min-width: 119px;
  margin: 0;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
  padding-right: 19px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-family: 'PT Sans';
  color: #000000;
}

.check-in-date {
  min-width: 119px;
  margin: 0;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
  padding-right: 19px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.check-in-date-field {
  width: 419px;
  margin-bottom: 4px;
  padding-left: 19px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: 'PT Sans';
  background: #F2F2F2;
  border-radius: 4px;
  border: none;
  outline-style: none;
}

.check-in-date-control::after {
  position: absolute;
  content: "";
  margin-top: 4px;
  padding: 20px;
  right: 79px;
  background-image: url("../images/svg/calendar.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.form-label-icon {
  margin-bottom: auto;
  margin-top: auto;
}

.field-group-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

.check-in-departure-date {
  min-width: 119px;
  margin: 0;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
  padding-right: 19px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.field-group-adults {
  display: flex;
  justify-content: space-between;
  width: 247px;
  margin: 0;
  padding: 0;
  border: none;
}

.field-group-children {
  display: flex;
  justify-content: space-between;
  width: 242px;
  margin: 0;
  padding: 0;
  border: none;
}

.field-text {
  width: 371px;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  margin-left: 158px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.field-text-color {
  width: 371px;
  margin: 0;
  margin-bottom: 23px;
  margin-left: 158px;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FF5757;;
}

.tooltip {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-top: -25px;
  margin-left: 60px;
}

.tooltip-toggle {
  display: block;
  width: 40px;
  height: 48px;
  margin: 0;
  padding: 0;
  background: #F2F2F2;
  background-color: transparent;
  border: none;
  outline-style: none;
}

.tooltip-icon {
  display: block;
  width: 100%;
  height: 100%;
  color: #83B3D3;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 216px;
  margin-top: 15px;
  padding: 15px 18px 18px 22px;
  font-weight: 400;
  line-height: 20px;
  font-size: 16px;
  text-transform: none;
  border-radius: 10px;
  background-color: #333333;
  color: #ffffff;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
}

.adults-control {
  display: flex;
  background: #F2F2F2;
}

.adults-control .min-button,
.adults-control .adults-field,
.adults-control .max-button {
  border: none;
  outline-style: none;
}

.adults-field {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  background: #F2F2F2;
  outline-style: none;
}

.min-button {
  display: block;
  width: 40px;
  height: 48px;
  border: none;
  background: #F2F2F2;
}

.icon-minus::before {
  position: absolute;
  content: "";
  bottom: 193px;
  right: 480px;
  width: 14px;
  height: 2px;
  background-color: rgba(117, 97, 87, 0.3);
}

.icon-minus-right::before {
  position: absolute;
  content: "";
  bottom: 193px;
  right: 154px;
  width: 14px;
  height: 2px;
  background-color: rgba(117, 97, 87, 0.3);
}

.max-button {
  width: 40px;
  height: 48px;
  margin: 0;
  padding: 9px 3px;
  fill: rgba(117, 97, 87, 0.3);
  outline-style: none;
}

.icon-minus:hover::before {
  background: #000000;
}

.icon-minus:focus::before {
  background: #000000;
  border: 3px solid #82B3D3;
  border-radius: 4px;
  outline-style: none;
}

.icon-minus-right:hover::before {
  background: #000000;
}

.icon-minus-right:focus::before {
  background: #000000;
  border: 3px solid #82B3D3;
  border-radius: 4px;
  outline-style: none;
}

.max-button:focus {
  fill: #000000;
  padding: 3px;
  border: 3px solid #82B3D3;
  border-radius: 4px;
}

.max-button:active {
  border: none;
  fill: rgba(117, 97, 87, 0.3);
}

.min-button:active {
  border: none;
  fill: rgba(117, 97, 87, 0.3);
}

.adults-field {
  display: block;
  width: 31px;
  height: 48px;
  margin: 0;
  padding: 0;
}

.search-form-button {
  padding: 18px 256.5px;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #83b3d3;
  border: none;
  border-radius: 10px;
}

.search-form-button:hover {
  background-color: #68a2ca;
}

.search-form-button:focus {
  background-color: #68a2ca;
  outline-style: none;
  opacity: 0.3;
}
